                                          header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
  width: 800px;
  height: 150px;
}
.bike{
    width: 150px;
    height: 70px;
   display: inline-block;
}
.express{
    font-size: 50px;
}
.links-container{
    font-size: 50px;
    padding: 4px;
}
button{
    font-size: 30px;
    border: dashed;
}
span{
    font-size: 150px;
    text-transform: uppercase;
    text-decoration: solid;
    font-weight: bold;

}
.burger-first-table-container{
    display: flex;
    justify-content: space-between;
}
